<ul>
<% @recipes.each do |recipe| %>
    <li>
        <a href="/recipes/<%= recipe.id %>"> Name: <%= recipe.name %></a>
        <p>Ingredients: <%= recipe.ingredients %></p>
        <p>Cook time: <%= recipe.name %></p>
    </li>
<% end %>
</ul>
