<% @recipes.each{|recipe| %>
    <!-- <a href=<%"http://localhost:9393/recipes/#{recipe.id}"%>> <h1> <%= "#{recipe.name}" %> </h1> </a> -->
    <a href=<%="/recipes/#{recipe.id}"%>> <h1> <%= "#{recipe.name}" %> </h1> </a>
    <form action=<%="/recipes/#{recipe.id}"%> method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="DELETE RECIPE">
    </form>
<% } %>