<form action="/recipes" method="post">
  <ul>
    <li><label>Name</label><input id="name" type="text" name="name" /></li>
    <li><label>Ingredients</label><input id="ingredients" type="text" name="ingredients" /></li>
    <li><label>Cook Time</label><input id="cook_time" type="text" name="cook_time" /></li>
  </ul>
  <input type="submit" />
</form>