<h1>Add a new recipe!</h1>
<p><form method="post" action="/recipes">
Name: <input id="name" type="text" name="name">
Ingredients: <input id="ingredients" type="text" name="ingredients">
Cook time: <input id="cook_time" type="text" name="cook_time">
<button type="submit" value="submit">Submit</button>
</form></p>