<h1>Recipe Details</h1><br>

<h2>Name: <%=@recipe.name%></h2><br>
<h2>Cook Time: <%=@recipe.cook_time%></h2><br>
<h2>Ingredients: <%=@recipe.ingredients%></h2>

<h3>Delete Recipe </h3>
<form method="POST" action=<%="/recipes/#{@recipe.id}"%>>
<input type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>